:root {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}

#grr {
  font-size: 150%;
  color: #dd3434;
}

code {
  background-color: #f1f1f1;
  color: black;
  padding: 0.1em 0.25em;
  border-radius: 0.2em;
}

#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-size: 2em;
  margin: 1em;
  padding: 0.5em;
}

#results {
  border: 0.2em solid rebeccapurple;
  border-radius: 0.5em;
  min-height: 20em;
  max-width: 40em;
  padding: 0.5em;
  margin: auto;
}
