# Enable basic authentication and point to password file
AuthName "Password protected directory"
AuthType Basic
AuthUserFile /home/vishalsingh/pwd/.htpasswd

# Set 'w3' if this is a request from the validator
BrowserMatch "^Validator.nu" w3

# Require either 'w3' or a valid user
Require env w3
Require valid-user