.ContactCard {
  box-sizing: border-box;
  width: 20em;
  background-color: var(--center-color);
  border: 0.2em solid var(--border-color);
  border-radius: 0.75em;
  padding: 1em;
}

.ContactCard h3 {
  font-size: 1.5rem;
  text-align: center;
}
