.SearchForm input,
.SearchForm button {
  font-size: 0.9rem;
}

.SearchForm input,
.SearchForm button {
  padding: 0.75em;
  border-radius: 0.35em;
  border: 2px solid var(--border-color);
}

.SearchForm button {
  margin: 0.25rem;
  cursor: pointer;
  color: white;
  background-color: var(--main-click-color);
  border-color: var(--main-click-hover);
  font-weight: 600;
  padding: 0.75em 2em;
}

.SearchForm button:hover {
  background-color: var(--main-click-hover);
  -webkit-appearance: none;
}

.SearchForm {
  display: flex;
  justify-content: center;
  margin: 1em;
}
